<div *ngIf="token!=='True';then thenBlock else elseBlock "></div>
<ng-template #thenBlock>
  <form [formGroup]="login" (ngSubmit)="Sig_In()" class="form-signin" style="display: flex;flex-direction: column; width: 25%" action="home.component.ts">
    <h1 class="text-center">Login</h1>
    <input  formControlName="user" class="form-control" type="password" id="Usuario" placeholder="Usuario"
           value="" required>
    <input formControlName="pass" class="form-control" id="Contraseña" placeholder="Contraseña"
           value="" required>

    <button class="btn btn-lg btn-primary" type="submit" [disabled]="!login.valid" id="Sig_in">SIGN IN</button>
  </form>

</ng-template>
<ng-template #elseBlock class="p-3 justify-content-center">
  <p class="text-decoration-underline " font-size="16">Usuario</p>
  <p class="text-dark" font-size="16" id="NAME">{{user}}</p>
  <button (click)="logout()" class="form-floating" id="Log-Out">SIGN OUT</button>
</ng-template>
